html{
    font-family: "Vazir";
	font-size: 100%;
    background-color: rgb(247 183 49 / 92%);;
}

/* .div-img{
    background: url(./image/720.jpg);
    width: 1000px;
    height: 1000px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
} */

